body {
    font-size: 22px;
    font-family: 'Bangers', cursive;
    border: 0px;
    margin: 0px;
}

input{
    font-family: 'Bangers', cursive;
}
button{
    font-family: 'Bangers', cursive;
}
.bgdiv {
    background-image: url('img/gants.png');
    background-repeat: no-repeat;
    background-size: 100%;
    border: 0px;
    margin: 0px;
}

.btnRound{
    position: absolute; 
    background-color: Transparent;  
    border-radius: 35%;
    border:0px;
}

.btnItem{
    position: absolute; 
    background-color: Transparent;
    border-radius: 100%  ;
    border:0px;

}

