.bgdiv {
    background-repeat: no-repeat;
    background-size: 100%;
    border: 0px;
    margin: 0px;
    padding: 0px;
    background-image: url('img/bg2.jpg');
}

body {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.btnTrans {
    border: 10px dotted red;
    border: 0px; 
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    text-align-last: center;
    position: absolute;
    font-family: 'Nanum Pen Script', cursive;
    border-radius: 5%;
}

.sltTrans {
    border: 1px dotted red;
    border: 0px;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    position: absolute;
    text-align-last: center;
    -webkit-appearance: none;
    font-family: 'Sriracha', cursive;
}
